In [59]:
#importing required datasets
import numpy as np
import pandas as pd
from apyori import apriori

In [60]:
#loading the dataset
store_data = pd.read_excel('Sold.xlsx')

In [61]:
store_data

    Invoice  Wine  Chips  Bread  Butter  Milk  Apple  Cost
0       101  Wine    NaN  Bread  Butter  Milk    NaN    33
1       102   NaN    NaN  Bread  Butter  Milk    NaN    22
2       103   NaN  Chips    NaN     NaN   NaN  Apple    12
3       104  Wine  Chips  Bread  Butter  Milk  Apple    11
4       105  Wine  Chips    NaN     NaN  Milk    NaN    16
5       106  Wine  Chips  Bread  Butter   NaN  Apple    23
6       107  Wine  Chips    NaN     NaN  Milk    NaN    23
7       108  Wine    NaN  Bread     NaN   NaN  Apple    13
8       109  Wine    NaN  Bread  Butter  Milk    NaN    32
9       110   NaN  Chips  Bread  Butter   NaN  Apple    22
10      111  Wine    NaN    NaN  Butter  Milk  Apple    22
11      112  Wine    NaN    NaN  Butter  Milk    NaN    27
12      113  Wine  Chips  Bread     NaN  Milk  Apple    66
13      114  Wine    NaN  Bread  Butter  Milk  Apple    22
14      115  Wine  Chips  Bread  Butter  Milk  Apple    22
15      116   NaN  Chips  Bread  Butter  Milk  Apple    33
16      117   NaN  Chips  Bread  Butter  Milk  Apple    44
17      118  Wine  Chips    NaN  Butter  Milk  Apple    26
18      119  Wine    NaN  Bread  Butter  Milk  Apple    35
19      120  Wine  Chips  Bread     NaN  Milk  Apple    50
20      121   NaN  Chips  Bread     NaN   NaN    NaN     9

In [62]:
store_data.shape

(21, 8)

In [67]:
#converting pandas into list of list
records = []
for i in range(0,21):
    records.append([str(store_data.values[i,j]) for j in range(0,8)])

In [68]:
records

[['101', 'Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan', '33'],
 ['102', 'nan', 'nan', 'Bread', 'Butter', 'Milk', 'nan', '22'],
 ['103', 'nan', 'Chips', 'nan', 'nan', 'nan', 'Apple', '12'],
 ['104', 'Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple', '11'],
 ['105', 'Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan', '16'],
 ['106', 'Wine', 'Chips', 'Bread', 'Butter', 'nan', 'Apple', '23'],
 ['107', 'Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan', '23'],
 ['108', 'Wine', 'nan', 'Bread', 'nan', 'nan', 'Apple', '13'],
 ['109', 'Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan', '32'],
 ['110', 'nan', 'Chips', 'Bread', 'Butter', 'nan', 'Apple', '22'],
 ['111', 'Wine', 'nan', 'nan', 'Butter', 'Milk', 'Apple', '22'],
 ['112', 'Wine', 'nan', 'nan', 'Butter', 'Milk', 'nan', '27'],
 ['113', 'Wine', 'Chips', 'Bread', 'nan', 'Milk', 'Apple', '66'],
 ['114', 'Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple', '22'],
 ['115', 'Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple', '22'],
 ['116', 'nan', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple', '33'],
 ['117', 'nan', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple', '44'],
 ['118', 'Wine', 'Chips', 'nan', 'Butter', 'Milk', 'Apple', '26'],
 ['119', 'Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple', '35'],
 ['120', 'Wine', 'Chips', 'Bread', 'nan', 'Milk', 'Apple', '50'],
 ['121', 'nan', 'Chips', 'Bread', 'nan', 'nan', 'nan', '9']]

In [69]:
association_rules = apriori(records, min_support=0.05, min_confidence=0.07,min_lift=1.2,min_length=2)
association_results = list(association_rules)
print(len(association_results))

94

In [11]:
association_results = list(association_rules)

In [12]:
print(len(association_results))

29

In [70]:
association_rules = apriori(records, min_support=0.4, min_confidence=0.7,min_lift=1.2,min_length=2)
association_results = list(association_rules)
print(len(association_results))

1

In [71]:
association_results

[RelationRecord(items=frozenset({'Bread', 'Milk', 'Butter'}), support=0.42857142857142855, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread', 'Milk'}), items_add=frozenset({'Butter'}), confidence=0.8181818181818181, lift=1.2272727272727273)])]